doctype html
extends layout


block content
  h1=title
  p Welcome to #{title}

  h2
    a(href='/') page d'accueil

  h3 Liste des têtées :
  ul
    - each allaitement, i in allaitements
      li
        | Sein
        = allaitement.sein
        br
        | Durée
        = allaitement.duree
        br
        | Date et heure
        = allaitement.dob
        br
        form(action='/allaitements/#{allaitement._id}/edit',method='post',name='deleteallaitement' ,enctype='application/x-www-form-urlencoded')
          input(type='hidden',value='DELETE',name='_method')
          button(type='submit')  Supprimer
        p
          a(href='/allaitements/#{allaitement._id}/edit') Editer
        p
          a(href='/allaitements/#{allaitement._id}') Voir

  div Ajouter une nouvelle têtée :
    a(href="/allaitements/add")
      | Ajouter une têtée