doctype html
extends layout


block content
  h1= title
  p Welcome to #{title}

  h2
    a(href='/') page d'accueil


  h3 Repas ID #{repas._id}
  form(action='/repas/#{repas._id}/edit', method='post', name='updaterepas', enctype='applicatin/x-www-form-urlencoded')
    p Menu :
      input#inputMenu(type="text", value="#{repas.menu}", name="menu")
    p Date :
      input#inputDob(type="date", value="#{repasdob}", name="dob")
    p
      input(type="hidden", value="PUT", name="_method")
    p
      button#btnSubmit(type="submit").
        Modifier