doctype html

extends layout

block content
  h1= title
  p Bienvenue à #{title}

  h2
    a(href='/') page d'accueil

  h3 Liste des repas solides :
  ul
    - each rep, i in repas
      li
        | Menu
        = rep.menu
        br
        | Date et heure
        = rep.dob
        br
        form(action='/repas/#{rep._id}/edit', method='post', name= 'deleterepas', enctype='application/x-www-form-urlencoded')
          input(type='hidden', value='DELETE', name='_method')
          button(type='submit') Supprimer
        p
          a(href='/repas/#{rep._id}/edit') Editer
        p
          a(href='repas/#{rep._id}') Voir

  div Ajouter un repas solide :
    a(href="/repas/add")
      | Ajouter un repas
